SERVER_BIND_ADDRESS=0.0.0.0
SERVER_PORT=25565
SERVER_UID=1000
SERVER_GID=1000
MEMORY=6G
MAX_PLAYERS=8
VIEW_DISTANCE=10
SIMULATION_DISTANCE=8
TZ=UTC
PACK_PATH=../../dist/signal-atelier-0.3.0.mrpack
RCON_PASSWORD_PATH=./secrets/rcon-password.txt
